

body {
background: aliceblue;
  
}

.formdiv {

  text-align: left;
  
  width: 250px;
  padding: 30px;

  border-radius: 1px;
  background: #829460;
  margin-bottom: 19px;
}

#messages {
 

  overflow: auto;
  height: 340px;
  width: 360px;
  border: 1px solid black;

  /* IE10 Consumer Preview */ 
  background-image: -ms-radial-gradient(center, circle farthest-corner, #A1D1AE 0%, #FFFFFF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-radial-gradient(center, circle farthest-corner, #A1D1AE 0%, #FFFFFF 100%);

  /* Opera */ 
  background-image: -o-radial-gradient(center, circle farthest-corner, #A1D1AE 0%, #FFFFFF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(radial, center center, 0, center center, 538, color-stop(0, #A1D1AE), color-stop(1, #FFFFFF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #A1D1AE 0%, #FFFFFF 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: radial-gradient(circle farthest-corner at center, #A1D1AE 0%, #FFFFFF 100%);
  
  
  
}

.chatdiv {

    
  width: 400px;
  padding: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 5px solid black;
  border-radius: 5px;
  background: darkblue;
}

.user_list {



  width: 300px;
  padding: 30px;
  border-radius: 11px;
  background: lightyellow;
}

.room_list {


  width: 300px;
  padding: 30px;

  border-radius: 11px;
  background: lightyellow;
}

.command_list {


  width: 250px;
  padding: 10px;

  border-radius: 1px;
  background: cornflowerblue;
  
  
  
  
}


.col-left {
  vertical-align: top;
  display: inline-block;
  margin-left: 5%;
 
  
  
}

.col-righter {

  padding: 10px;
  background: aliceblue;
 vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  
  
}

.col-right {
vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  
  
}

form input {
  width: 200px;
  
  
  
}

#chat_h {
  font-family: Sans-serif;
  color: aliceblue;
  
}