.container {
  width: 1200px;
}

body * {
/*  border: thin solid blue;*/
  
}

.formdiv {

  text-align: left;
  width: 400px;
  padding: 30px;
  border: 5px solid blue;
  border-radius: 10px;
  background: aliceblue;
}

#messages {
 

  overflow: auto;
  height: 300px;
  width: 420px;
  border: 2px solid black;
  background: white;
}
.chatdiv {

  vertical-align: top;
  width: 500px;
  padding: 30px;
  border: 5px solid hotpink;
  border-radius: 10px;
  background: pink;
}

.user_list {



  width: 400px;
  padding: 30px;
  border: 5px solid blue;
  border-radius: 10px;
  background: aliceblue;
}

.room_list {


  width: 400px;
  padding: 30px;
  border: 5px solid blue;
  border-radius: 10px;
  background: aliceblue;
}

.command_list {


  width: 400px;
  padding: 30px;
  border: 5px solid black;
  border-radius: 10px;
  background: lightgrey;
  
  
  
  
}


.col-left {
  display: inline-block;
 
  
  
}

.col-right {
  display: inline-block;
  margin-left: 5px;
  
  
}