

body {
background: aliceblue;
  
}

.formdiv {

  text-align: left;
  
  width: 300px;
  padding: 30px;

  border-radius: 1px;
  background: #829460;
  margin-bottom: 19px;
}

#messages {
 

  overflow: auto;
  height: 340px;
  width: 360px;
  border: 2px solid black;
  background: white;
}
.chatdiv {

    
  width: 400px;
  padding: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 5px solid black;
  border-radius: 5px;
  background: lightgrey;
}

.user_list {



  width: 300px;
  padding: 30px;
  border-radius: 30px;
  background: lightyellow;
}

.room_list {


  width: 300px;
  padding: 30px;

  border-radius: 20px;
  background: lightyellow;
}

.command_list {


  width: 300px;
  padding: 30px;

  border-radius: 1px;
  background: cornflowerblue;
  
  
  
  
}


.col-left {
  vertical-align: top;
  display: inline-block;
  margin-left: 5%;
 
  
  
}

.col-righter {

  padding: 10px;
  background: aliceblue;
 vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  
  
}

.col-right {
vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  
  
}

form input {
  width: 200px;
  
  
  
}

#chat_h {
  font-family: Sans-serif;
  color: blue;
  
}